<!DOCTYPE html><html class=''>
<head><meta charset='UTF-8'>
<link rel="stylesheet" href="vendors/photobox/photobox/photobox.css">
<link rel="stylesheet" href="styles/style.css">
</head><body>
<div ng-controller="mainCtrl">
   <ul id="gallery" infinite-scroll="listView.nextPage()" infinite-scroll-disabled="listView.busy" infinite-scroll-distance="0">
     <li ng-repeat="av in listView.items track by $index" class='fx-fade-down fx-speed-500 fx-trigger fx-easing-cubic'>
       <a ng-href="{{av.preview}}"><img ng-src="{{av.preview}}" alt="" title="{{av.title}}"></a>
       <!-- <span><a href="javascript:void(0);" class="view-btn" ng-click="openMagLink(av.downloadurl)">点击播放</a></span> -->
       <div style="text-align: center;height: 24px;">
         <span ng-show="av.fav">已喜欢</span><button ng-click="favHandler(av)">喜欢</button>
       </div>
     </li>
   </ul>
  <!-- <rotating-plane-spinner ng-show="listView.busy"></rotating-plane-spinner> -->
  <double-bounce-spinner ng-show="listView.busy"></double-bounce-spinner>
</div>
<!-- bower:js -->
<script src="components/jquery/dist/jquery.js"></script>
<script src="components/angular/angular.js"></script>
<script src="components/lodash/dist/lodash.compat.js"></script>
<script src="components/angular-animate/angular-animate.js"></script>
<script src="components/gsap/src/uncompressed/TweenMax.js"></script>
<script src="components/ng-Fx/dist/ng-Fx.js"></script>
<script src="components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
<script src="components/angular-route/angular-route.js"></script>
<script src="components/angular-sanitize/angular-sanitize.js"></script>
<script src="components/angular-cookies/angular-cookies.js"></script>
<script src="components/angular-spinkit/build/angular-spinkit.min.js"></script>
<!-- endbower -->
<script src="vendors/photobox/photobox/jquery.photobox.js"></script>
<script src="vendors/GreenSock-JS/src/minified/TweenMax.min.js"></script>

<script src="scripts/index.js"></script>
</body></html>